<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Demo</title>
</head>
<body>
  <div>
    <ul>
      <li>获取传入参数time: {$time}</li>
    </ul>
    <ul>
      <li>获取数组参数time2: {$time2}</li>
    </ul>
    <ul>
      <li>循环与逻辑<p>
        {loop $data $k $r}
        {if !$k}{$k}.{else}第{$k}{/if} &nbsp; {$r['name']}<br /> 
        {/loop}
      </p></li>
    </ul>
    
  </div>


</body>
</html>